html {box-sizing: border-box;}
*, *:after, *:before {box-sizing:inherit}

ul {
	display: flex;
	padding-left:0;
}

.octocat {
	float: left;
	
}

li.octocat > a > img {
	border: 1px solid #cccccc;
	border-radius: 3px;
	height: 440px;
	width: 440px;
}

li.octocat {
	border-bottom: 1px solid #cccccc;
	margin: 15px;
}

div.image-footer > a > img {
	float: left;
}
ul.authors > li > a > img {
	height: 30px;
	width: 30px;
	margin-left: 10px;
	border-radius: 5px

}

.image-footer {
	display: flex;
	justify-content: space-between;
	width:440px;
}

.image-caption, .authors li {
	display:flex;
	flex-direction:row;
	margin-right: 0px;

}


div.image-caption > span {
	font-family: Helvetica;
	color: #bbbbbb;
	font-weight: bold;
	margin-top: 5px;

}

div.image-caption > span + a {
	font-family: Helvetica;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	margin: 5px 5px 0px 5px;
}

li {
	list-style-type: none;
}

span.image-number {
	font-weight: bold;
	font-family: Helvetica;
	color: #cccccc;
	float: left;
	margin: 5px 120px 0px 0px;

}

span.image-number:before {
	content: "#";
	
}

div.image-footer {
	clear: both;

}

